<h2>Edit - {{item.name}}:</h2>

<form action="/{{item.id}}?_method=put" method="post">
  <p>
    <label>Name:</label>
    <input type="text" value="{{item.name}}" name="name"/>
    <label>Servings:</label>
    <input type="number" value="{{item.servings}}" name="servings"/>
    <label>Calories:</label>
    <input type="number" value="{{item.calories}}" name="calories"/>
  </p>
  <p>
    <label>Protein:</label>
    <input type="number" value="{{item.protein}}" name="protein"/>
    <label>Carbs:</label>
    <input type="number" value="{{item.carb}}" name="carb"/>
    <label>Fat:</label>
    <input type="number" value="{{item.fat}}" name="fat"/>
  </p>
  <br>
  <input type="submit" value="Update" />
</form>