<h1 id="showTitle">{{name}}</h1>

<div class="showContain">
    <h2 class="showInfo">servings: {{ servings }}</h2>
    <h2 class="showInfo">calories: {{calories}}</h2>
    <h2 class="showInfo">proteins: {{protein}}</h2>
    <h2 class="showInfo">carbs: {{carb}}</h2>
    <h2 class="showInfo">fats: {{fat}}</h2>
</div>

<div class="showButtons">
    <a class="link" href="/edit/{{id}}">edit</a>
    <form class="deleteContain" action="/{{id}}?_method=delete" method="post">
        <input class="deleteBtn" type="submit" value="Delete">
    </form>
</div>
